<h5 class="stock-delivery-city-title">Delivery City</h5>
<div id="delivery_city">
  <b>Select Your Area</b>
  <%= select_tag :delivery_city_id, options_for_select(Spree::DeliveryCity.all.map{|d_c| [d_c.name, d_c.id] }) %>
</div>

<h5 class="stock-delivery-date-title">Delivery date and time</h5>

<div id="delivery_date">
  <%= form.hidden_field :delivery_date %>
  <%= form.hidden_field :delivery_slot_id %>

  <% days = Date.today..13.days.from_now.to_date %>

  <table>
    <thead>
    <th>Delivery windows:</th>

    <% days.each do |day| %>
        <th><%= day.strftime("%a %m/%d") %></th>
    <% end %>
    </thead>

    <tbody>
    <% Spree::DeliveryCity.all.each do |city| %>
        <% city.delivery_slots.each do |slot| %>
            <tr class="delivery_slots_for_<%= city.id %>">
              <td><%= slot.name %></td>

              <% days.each_with_index do |day, day_number| %>
                  <% if slot.availabled?(day) %>
                      <td class="available-delivery-slot <%= slot.selected_for?(day, @order) ? 'selected-delivery-slot' : '' %>" data-slot-id="<%= slot.id %>" data-date="<%= day %>">
                        <% if day_number == 0 %>
                            <%= slot.price_same_day %>
                        <% elsif slot.discounted?(day) %>
                            <div class="old_price"><%= slot.price_next_day %></div><div class="discounted"><%= slot.discount_price %></div>
                        <% else %>
                            <%= slot.price_next_day %>
                        <% end %>
                      </td>
                  <% else %>
                      <td class="unavailable-delivery-slot"></td>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="field">
    <%= form.label :delivery_instructions, "Delivery Instructions/Comments" %>
    <%= form.text_area :delivery_instructions %>
  </div>
</div>
