<h5 class="stock-delivery-date-title">Delivery date and time</h5>

<div id="delivery_date">
  <%= form.hidden_field :delivery_date %>
  <%= form.hidden_field :delivery_slot_id %>

  <% days = (Date.today..(10.days.from_now.to_date)) %>

  <table>
    <thead>
      <th>Delivery windows:</th>

      <% days.each do |day| %>
        <th><%= day.strftime("%a %m/%d") %></th>
      <% end %>
    </thead>

    <tbody>
      <% Spree::DeliverySlot.all.each do |slot| %>
        <tr>
          <td><%= slot.name %></td>

          <% days.each do |day| %>
            <% available_slots = SpreeDeliverySlots.available_for(day) %>

            <% if available_slots.include?(slot) %>
              <td class="available-delivery-slot <%= (@order.delivery_date == day and @order.delivery_slot == slot) ? 'selected-delivery-slot' : '' %>" data-slot-id="<%= slot.id %>" data-date="<%= day %>">Select</td>
            <% else %>
              <td class="unavailable-delivery-slot"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field">
    <%= form.label :delivery_instructions, "Delivery Instructions/Comments" %>
    <%= form.text_area :delivery_instructions %>
  </div>
</div>
