%fieldset#delivery-info.no-border-bottom
  %legend= Spree.t(:delivery_info)
  %table
    %thead
      %th= Spree.t(:date)
      %th Slot
      %th City
    %tbody
      %td= @order.delivery_date
      %td= @order.delivery_slot.try(:name)
      %td= @order.delivery_slot.try(:city_name)
  .delivery-instructions
    %label= Spree.t(:delivery_instructions)
    %span
      = @order.delivery_instructions || "No instructions provided"
