<div>
  <div class="alpha twelve columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:general_settings) %></legend>

      <div class="alpha twelve columns">
        <div  class="field">
          <%= f.label :sequence, 'Sequence' %>
          <br />
          <%= f.number_field :sequence, value: f.object.sequence || Spree::DeliverySlot.next_sequence %>
        </div>
        <div  class="field">
          <%= f.label :enabled, 'Enabled' %>
          <br />
          <%= f.check_box :enabled %>
        </div>
        <div  class="field">
          <%= f.label :delivery_city_id, 'Delivery City' %>
          <br />
          <%= f.select :delivery_city_id, Spree::DeliveryCity.all.map{|d_c| [d_c.name, d_c.id] } %>
        </div>
        <div  class="field">
          <%= f.label :name, 'Name (will be visible to customers)' %>
          <%= f.text_field :name, :class => 'fullwidth' %>
        </div>
        <div  class="field">
          <% %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday).each do |wd| %>
            <label>
              <%= check_box_tag 'delivery_slot[days][]', wd, f.object.days.present? ? f.object.days.split(',').include?(wd) : false %>
              <%= wd %>
            </label>
            <br />
          <% end %>
        </div>
        <div  class="field">
          <%= f.label :start_hour, 'Start hour' %>
          <br />
          <%= f.number_field :start_hour %>
        </div>
        <div  class="field">
          <%= f.label :delay, 'Delay' %>
          <br />
          <%= f.number_field :delay %>
        </div>
        <div  class="field">
          <%= f.label :max_orders, 'Max orders' %>
          <br />
          <%= f.number_field :max_orders %>
        </div>
        <div class="field">
          <%= f.label :price_next_day, 'Price for Next Day' %>
          <br />
          <%= f.number_field :price_next_day %>
        </div>
        <div class="field">
          <%= f.label :price_same_day, 'Price for Same Day' %>
          <br />
          <%= f.number_field :price_same_day %>
        </div>
        <div  class="field">
          <%= f.label :discount_days, 'Discount Days' %>
          <br />
          <% %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday).each do |wd| %>
              <label>
                <%= check_box_tag 'delivery_slot[discount_days][]', wd, f.object.discount_days.present? ? f.object.discount_days.split(',').include?(wd) : false %>
                <%= wd %>
              </label>
              <br />
          <% end %>
        </div>
        <div class="field">
          <%= f.label :discount_price, 'Discount Price' %>
          <br />
          <%= f.number_field :discount_price %>
        </div>

      </div>
    </fieldset>
  </div>
</div>
